
.container-fluid {
    height: 100vh;
    display: flex;
}
.nav {
    height: 90vh;
}
.sidebar {
    background-color: black;
    color: white;
    width: 250px;
    overflow-y: auto;
    padding: 20px;
    overflow: scroll;
}
.content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    overflow: scroll;
}
.nav .active, .nav .nav-item:hover{
    background: #1d1813;
}
.top-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.top-controls > div {
    display: flex;
}
.w-250{
    width: 250px;
}